<div class="modal-header">
	<h3 class="modal-title"><i class="fa fa-tablet"></i>  Device Information</h3>
</div>

<div class="modal-body">

<dl class="dl-horizontal">
  <dt>Device ID</dt>
  <dd>{{deviceInfo.deviceId}}</dd>
  <dt>Device Name</dt>
  <dd>{{deviceInfo.deviceName}}</dd>
  <dt>Email</dt>
  <dd>{{deviceInfo.email}}</dd>
  <dt>Service Started?</dt>
  <dd>{{deviceInfo.isServiceStarted}}</dd>
  <dt>Last URL</dt>
  <dd><a href="{{deviceInfo.uri}}">{{deviceInfo.uri}}</a></dd>
  <dt>Registration Version</dt>
  <dd>{{deviceInfo.registrationVersion}}</dd>
  <dt>Registration ID</dt>
  <dd><p class="long-wrap">{{deviceInfo.registrationId}}</p></dd>
  <dt>Update Date</dt>
  <dd>{{deviceInfo.updated}}</dd>
</dl>

                        
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>